In [16]:
# In python the variable declaration is done whenever they are assigned there is not extra syntax to declare it like c and other 

number=2
string="hemanth"
point=2.0
char='c'

print(number);
print(string);
print(point);
print(char);

2
hemanth
2.0
c

In [17]:
# In python the strings can be declared using both single quotes as well as double quotes

string=" Hemanth Kumar "
print(string)
string=' Hemanth Kumar '
print(string)

 Hemanth Kumar
 Hemanth Kumar

In [19]:
# In python the casting can be done 

x = str(3)    # x will be '3'
y = int(3)    # y will be 3

In [21]:
# We can know the data type using type() function

print(type(x))
print(type(y))

<class 'str'>
<class 'int'>

In [22]:
# Variable names declaration in python is same as that in c or c++

In [23]:
myVariableName = "John" # Camel case
MyVariableName = "John" # Pascal case
my_variable_name = "John" # Snake case

In [27]:
# Python provide many different functionality than other language that include:-
# 1) multiple value assignment to multiple variable
# 2) one value assignment to multiple variable

In [29]:
# 1) multiple value assignment to multiple variable 

x,y,z=1,2,3

print(x)
print(y)
print(z)

1
2
3

In [31]:
# 2) one value assignment to multiple variable

x=y=z=0;

print(x)
print(y)
print(z)

0
0
0

In [33]:
# Unpack a Collection

#If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

numbers=[1,2,3]
x,y,z=numbers;

print(x)
print(y)
print(z)

1
2
3

In [35]:
# Printing the value in the variable 

x=5

print(x)

5

In [36]:
# Printing the value in the mutiple variable in single print statment

x,y,z=2,3,4

print(x,y,z)

2 3 4

In [37]:
# String concat is possible using addition 

x,y,z="H M",' Hemanth ',"Kumar"

print(x+y+z)

H M Hemanth Kumar

In [38]:
# String concat of different type is not possible 

x,y="hemanth",5;

print(x+y);

TypeError: can only concatenate str (not "int") to str

In [39]:
print(x,y)

hemanth 5