In [4]:
# Booleans in python is same as of other programming language don't need to care of it.

# But just remember any value other then [],(),{},0,none,false,'' are true;

# bool() is a function that checks whether the given thing is true or false 

print(bool([]))

print(bool(0))

print(bool([0])) # A list consisting of value so it is true

False
False
True

In [5]:
x=200

print(isinstance(x, int)) # check whether it is object of int or not

True

In [6]:
# Operator in python is same as of other programming language don't need to care of it 

# but there are some of the special that are:-

x=2;

print(x**3) # it is x power 3 this is the ans

8

In [10]:
x=3;

print(x/2) # it will convert to float 
print(x//2) # it is like c division of integer

1.5
1

In [12]:
print(x:=3)

print(x) # it will assign and then print "walrus" operator

3
3

In [13]:
# Without walrus operator
data = input("Enter something: ")
while data != "quit":
    print(f"You entered: {data}")
    data = input("Enter something: ")

# With walrus operator
while (data := input("Enter something: ")) != "quit":
    print(f"You entered: {data}")

Enter something:  1

You entered: 1

Enter something:  quit
Enter something:  1

You entered: 1

Enter something:  2

You entered: 2

Enter something:  quit

In [ ]:
# is operator

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

In [15]:
# is operator

x = 2
y = 2
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
True
True

In [16]:
# in simple works if there is number or something it act as == if there is list tuples set then it acts as 'is'

In [17]:
# is not operator

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [18]:
# in simple works if there is number or something it act as != if there is list tuples set then it acts as 'is not'

In [19]:
# in operator

x=["apple","banana"]

print("banana" in x)

True

In [23]:
x=["apple","banana","cat","dog"]

print(["apple","banana"] in x) # false because list dosn't contain list of list

False

In [26]:
x=["apple","banana","cat","dog"]

print("apple" in x and "banana" in x )

True

In [27]:
x=56

print(6 in x)

TypeError: argument of type 'int' is not iterable

In [28]:
# not in Operator

# it also works same as that of in but oppositly