# Importing of pandas and checking the version

In [6]:
import pandas as pd

In [7]:
pd.__version__

'2.2.3'

# Pandas series using list

##### A Pandas Series is a one-dimensional array-like object that can hold data of any type (integers, strings, floats, etc.) and is labeled by an index. It is similar to a Python list, but it offers more functionality, like working with labeled data and vectorized operations.

In [8]:
my_list=[1,2,3,4,5]

my_series=pd.Series(my_list) # it stores the list with the index value look below 

print(my_series) # dtype in the output represent the type of the data the list consisting of

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
# type() of the series will be 

type(my_series)

pandas.core.series.Series

In [10]:
# To create empty series just live it empty

empty_list=[]

empty_series=pd.Series(empty_list) # or directly pd.Series([])

print(empty_series)

Series([], dtype: object)

#### Custom series 

##### It is used when you only providing the label for which the list element should be assigned

In [11]:
mylist=[1,2,3,4,5,6]
mylabel=['a','b','c','d','e','f']

mycustomseries=pd.Series(mylist,index=mylabel)

print(mycustomseries)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [12]:
mylist=[1,2,3,4,5,6]
mylabel=['a','b','c','d','e']

mycustomseries=pd.Series(mylist,index=mylabel) # if there is no current number of label is provided the error will occur look above for 6 element in the list there are 5 label so error occured

print(mycustomseries)

ValueError: Length of values (6) does not match length of index (5)

In [ ]:
mylist=[1,2,3,4,5]
mylabel=['a','b','c','d','e','f']

mycustomseries=pd.Series(mylist,index=mylabel) # it is same for mylist also more label but less list element


print(mycustomseries)

In [13]:
# Accessing of series element 

mylist=[1,2,3,4,5,6]

myseries=pd.Series(mylist)

print(myseries)

print(f"The element at index 4 is {myseries[4]}")

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
The element at index 4 is 5

In [14]:
# Accessing of series element with custom series

mylist=[1,2,3,4,5,6]
mylabel=['a','b','c','d','e','f']

mycustomseries=pd.Series(mylist,index=mylabel)

print(mycustomseries)

print(f"The element at index c is {mycustomseries['c']}")

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64
The element at index c is 3

In [15]:
# Naming of series 

# it is prvoiding the name for the series

mylist=[1,2,3,4,5]
myseries=pd.Series(mylist,name="Hemanth data")

myseries

0    1
1    2
2    3
3    4
4    5
Name: Hemanth data, dtype: int64

#### Vectorized Operations

##### it is like mathematic operation of specific value

In [16]:
myseries=pd.Series([1,2,3,4,5,6])

myseries+5

0     6
1     7
2     8
3     9
4    10
5    11
dtype: int64

In [17]:
myseries-5

0   -4
1   -3
2   -2
3   -1
4    0
5    1
dtype: int64

In [18]:
myseries*2

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64

In [19]:
myseries/2

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
5    3.0
dtype: float64

In [20]:
myseries//2

0    0
1    1
2    1
3    2
4    2
5    3
dtype: int64

In [21]:
myseries%2

0    1
1    0
2    1
3    0
4    1
5    0
dtype: int64

#### Filtering

##### This is something like using comparitor operator and getting data for example whose marks is greater than 90 or percentage greater than 90

In [22]:
myseries=pd.Series([30,50,80,95,45,70,65])

myseries[myseries>60]

2    80
3    95
5    70
6    65
dtype: int64

In [23]:
distinction=myseries[myseries>=85]

distinction.name="Topper like you"

distinction

3    95
Name: Topper like you, dtype: int64

#### Converting a Series Back to a List

In [24]:
distinctionlist=distinction.tolist();

distinctionlist

[95]

### Scalar Series

##### A scalar Series in Pandas is a Series created from a single scalar value, where the same value is repeated for all indices. Essentially, it allows you to create a Series with a constant value across multiple indices.

In [25]:
import pandas as pd

scalar_series = pd.Series(5, index=['a', 'b', 'c', 'd'])

print(scalar_series)

a    5
b    5
c    5
d    5
dtype: int64

In [26]:
scalar_series = pd.Series("Hello", index=[1, 2, 3, 4])

print(scalar_series)

1    Hello
2    Hello
3    Hello
4    Hello
dtype: object

In [37]:
# it is basically use to assign the values to 0 or as given below also we can use

series = pd.Series([10, 20, 30])
scalar_series = pd.Series(5,index=series.index)
print(series + scalar_series)

0    15
1    25
2    35
dtype: int64

# Pandas series using dictionaries

##### A Pandas Series from a dictionary refers to creating a Series object using a Python dictionary. In Pandas, a Series is a one-dimensional labeled array that can hold data of any type (e.g., integers, floats, strings). When you pass a dictionary to create a Series, the dictionary's keys become the Series' index, and the dictionary's values become the Series' data.

sytax->

import pandas as pd

data = {'key1': value1, 'key2': value2, ...}

series = pd.Series(data)

In [42]:
import pandas as pd

data = {'Hemanth': 85, 'Kumar': 90, 'Ninu': 78}

series = pd.Series(data)

print(series)

Hemanth    85
Kumar      90
Ninu       78
dtype: int64

In [43]:
# using of aggregate function 

print(series.mean()) 
print(series.max())   
print(series.min())

84.33333333333333
90
78

In [44]:
# using of name attribute

series.name="Marks sheet"

print(series)

Hemanth    85
Kumar      90
Ninu       78
Name: Marks sheet, dtype: int64

In [45]:
# updating of series
series['Hemanth']=99;

print(series)

Hemanth    99
Kumar      90
Ninu       78
Name: Marks sheet, dtype: int64

In [46]:
# How to drop the single series

series=series.drop(['Ninu'])

print(series)

Hemanth    99
Kumar      90
Name: Marks sheet, dtype: int64

In [47]:
# To add new series

series["Hemanth"]=76;
series["kumar"]=90;
series["Nanu"]=60;
series["good boy"]=70;
series["Human"]=55;

print(series)

Hemanth     76
Kumar       90
kumar       90
Nanu        60
good boy    70
Human       55
Name: Marks sheet, dtype: int64

In [48]:
print(series[0:3])

Hemanth    76
Kumar      90
kumar      90
Name: Marks sheet, dtype: int64

In [49]:
max(series)

90

In [50]:
import pandas as pd

data = {'Hemanth': [90,80,95,100], 'Kumar': [90,80,95,100], 'Nanu': [78,90,80,95]}

series = pd.Series(data)

print(series)

Hemanth    [90, 80, 95, 100]
Kumar      [90, 80, 95, 100]
Nanu        [78, 90, 80, 95]
dtype: object